<div id="footer_wrap">
	<div class="footer">
		<div>
		<span>｜ </span>
		{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
				<a  {if $r[catname]=="首页"}href="{siteurl($siteid)}"{else}href="{$r[url]}"{/if}>{$r[catname]}</a>
				<span>｜ </span>
			{/loop}
		{/pc}
		</div>
		<hr style="color: #ddd;" />
		<div> &copy; 2014 虎鹿口腔   <img src="{IMG_PATH}copyright.gif" />
		 <br /> 门诊时间：周一至周日 8:30-17:30<br /> 地址：浙江省虎鹿口腔  电话：0579-86150479
		</div>
		<div class="friend_link">友情链接(<a href="{APP_PATH}index.php?m=link&siteid={$siteid}" hidefocus="true">更多>></a>)：
	<!-- 		<a href="http://szrmyy.zjwst.gov.cn/" title="http://szrmyy.zjwst.gov.cn/" target="_blank">嵊州市人民医院</a> -->
			
			{pc:content action="type_list" catid="1" num="15" siteid="$siteid" order="listorder ASC" return="dat"}
				{loop $dat $r}
					{if $type==0}
		            	<a href="{$v[url]}" target="_blank">{$v[name]}</a> |
		            {else}
		            	<a href="{$v[url]}" target="_blank"><img src="{$v[logo]}" width="88" height="31" style="border: 1px solid #FFBE7A;"></a> 
		            {/if} 
				{/loop}
			{/pc}
			<a href="{APP_PATH}index.php?m=link&c=index&a=register&siteid={$siteid}" style="color:red;float:right">申请链接</a>
			
		</div>
	</div>
</div>
<div style="visibility: hidden;">
	<script language="javascript" type="text/javascript" src="http://js.users.51.la/11753112.js"></script>
	<noscript>
		<a href="http://www.51.la/?11753112" target="_blank">
			<img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;"	src="http://img.users.51.la/11753112.asp" style="border: none" />
		</a>
	</noscript>
</div>

<script type="text/javascript">
	$(function() {
		$(".picbig").each(
				function(i) {
					var cur = $(this).find('.img-wrap').eq(0);
					var w = cur.width();
					var h = cur.height();
					$(this).find('.img-wrap img').LoadImage(true, w, h,
							'{IMG_PATH}msg_img/loading.gif');
				});
	})
</script>
</body>
</html>