{template "content","header"}
<!--main-->
<div id="container" class="clearfix">
	<div class="col-left">
    	<div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> > </span><!-- {catpos($catid)}先不用这个 -->{$CATEGORYS[$catid][catname]} > 列表</div>
		{pc:content action="lists" catid="$catid" num="25" order="id DESC"
		page="$page"}
		<ul class="list lh24 f14">
			{loop $data $r}
			<li><span class="rt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{date('Y-m-d H:i:s',$r[inputtime])}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a
				href="{$r[url]}" target="_blank"{title_style($r[style])}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$r[title]}</a></li>
			{if $n%5==0}
			<li class="bk20 hr"></li>{/if} {/loop}
		</ul>
		<div id="pages" class="text-c">{$pages}</div>
		{/pc}
	</div>
   	<br/>
    <div class="col-auto">
        <div class="box">
            <h5 class="title-2">大家都在阅读</h5>
             {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
            <ul class="content digg">
				{loop $data $r}
					<li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
				{/loop}
            </ul>
            {/pc}
        </div>
        <div class="bk10"></div>
        <br/>
        <div class="box">
            <h5 class="title-2">本月top排行榜</h5>
             {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
            <ul class="content rank">
				{loop $data $r}
				<li><span>{number_format($r[monthviews])}</span><a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></li>
				{/loop}
            </ul>
            {/pc}
        </div>
    </div>
</div>
{template "content","footer"}